@CHARSET "UTF-8";

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-size: 0;
	box-sizing: border-box;
}

/* header */
/* top */
div.header_top_wrap {
	background: black;
}

div.header_top_row{
	width: 80%;
	margin:0 auto;
	background: lightgray;
}

div.header_top_row > div{
	width: 50%;
	min-height: 50px;
	background: yellow;
	display: inline-block;
}

div.header_top_row > div:last-child{
	background: pink;
	vertical-align: top;
	text-align: right;
}

/* left */
div.header_top_row > div:first-child > div{
	width: 50%;
	background: pink;
	min-height: 20px;
}

div.header_top_row > div:first-child > div div{
	background: green;
	width: 20%;
	margin-right: 5px;
	min-height: 50px;
	display: inline-block;
}

/* right */
div.header_top_row > div:last-child > div{
	background: yellow;
	width: 50%;
	min-height: 50px;
	display: inline-block;
}

div.header_top_row > div:last-child > div div{
	background: green;
	width: 40%;
	margin-left: 5px;
	min-height: 50px;
	display: inline-block;
}

/* middle */
div.header_middle_row{
	width: 100%;
	background: lightblue;
	text-align: center;
}

div.header_middle_row > div{
	display: inline-block;
	min-height: 50px;
	margin-right: 30px;
/* 	font-size: 20px;
	color: white;
	vertical-align: top;  */
}

div.header_middle_row > div:nth-child(1){
	width: 20%;
	background: green;
}

div.header_middle_row > div:nth-child(2){
	width: 50%;
	background: olive;
}

div.header_middle_row > div:nth-child(3){
	width: 20%;
	background: green;
}

