@CHARSET "UTF-8";

:root{
	--gray_20: #CCCCCC;
	--gray_40: #999999;
	--gray_60: #666666;
	--gray_80: #333333;
	--black: #000000;
	--yellow: #FFFFCC;
	--blue_20: #CCCCFF;
	--blue_40: #9999FF;
	--blue_60: #6666FF;
	--blue_80: #3333FF;
	--blue_100: #0000FF;
}

/* 기본셋팅 */
*{ 
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
/* 
각 섹션마다 여백 
body > div {
	margin-bottom: 60px;
}
 */
/* header */
div.header {
	width: 100%;
	height: 900px;
	background: var(--gray_20);
}

/* logo,menu  */
div.logo_menu_wrap {
	width: 80%;
	min-width: 1140px; /* 1 메뉴 내려가서 고정 */
	height: 15%;
	margin: 0 auto;
	background: var(--gray_40);
}

div.logo_menu_wrap div{
	display: inline-block;
	background: var(--gray_60);
}

div.logo{
	width:20%;
	height: 50%;
	float: left;
	margin: 30px 0;
}

div.menu_wrap{
	width:60%;
	height: 50%;
	min-width: 752px; /* 2 메뉴 내려가서 고정 */
    float: right;
    margin: 30px 0;
}

div.menu_wrap div{
	width: 16%;
	height: 100%;
	background: var(--gray_80);
}

/* slide  */
div.slide{
	width: 100%;
	height: 80%;
	background: var(--gray_40);
	padding-top:100px;
}

div.animated_wrap {
	width: 60%;
	height: 60%;
	background:  var(--gray_80);
	padding: 50px 40px 0 0;
}

div.animated_wrap  div{
	float: right;
}

div.animated_title{
    width: 70%;
    height: 45%;
    background: var(--black);
}

div.animated_content{
	margin-top: 20px;
    width: 70%;
    height: 30%;
    background: var(--black);
}

/* slide btn  */
div.slide_btn{
	width: 10%;
	background: var(--gray_80);
	text-align: center;
	margin: 0 auto;
}

div.slide_btn > div{
	display:inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    background: var(--black);
}

/* service_1 */
div.service_1, 
div.service_2, 
div.about_us{
	width: 100%;
	height: 700px;
	background: var(--yellow);
}

/* title */
div.service_center{
    width: 50%;
    height: 35%;
    background: var(--blue_20);	
    margin: 0 auto;
    padding: 20px;
}

div.title_wrap{
	width: 50%;
    height: 62%;
    background: var(--blue_40); 
    margin: 0 auto;
    padding: 20px;
}

div.title_content{
    width: 100%;
    height: 35%;
    background: var(--blue_60); 
}

div.title{
    width: 100%;
    height: 60%;
    background: var(--blue_80); 
    margin-bottom: 20px;
}

div.line{
    width: 50%;
    height: 20%;
    background: var(--blue_100); 
    margin: 0 auto;
}

/* service_1 content bottom */
div.service_bottom{
	width: 80%; /* 모든 서비스 란은 80%로 바꾸기   */
	height: 65%; 
	margin:0 auto;
	padding:20px;
	background: var(--blue_20);    
}

div.card_wrap {
	width: 100%;
	height: 50%;
	background:var(--blue_40); 
	padding: 20px;
}

div.card{
	display:inline-block;
    width: 50%;
    height: 100%;
    margin-right: -6px;
    padding: 20px;
    background:var(--blue_60);
}

div.icon{
    display:inline-block;
    width: 30%;
    height: 100%;
    background:var(--blue_80); 
}

div.card_text_wrap{
    display:inline-block;
    width: 68%;
    height: 100%;
    background:var(--blue_100); 
}

div.card_text_wrap > div{
	width: 100%;
    background:yellow;
}

div.card_title{
    height: 35%;
    margin-bottom: 10px;
}

div.card_content{   
    height: 56%;
}

/* phone */
div.phone_part{
	width: 100%;
	height: 500px;
	background: var(--gray_20);
	text-align: center;
}

div.phone_part > div{
    width: 49%;
    height: 100%;
    display: inline-block;
    background: var(--black);
}

div.phone{ 
	width: 40%;
	height: 80%;
	background: var(--gray_40);
	margin-top: 10%;
	margin-left: 50%;
}

div.side_inner{
	margin-top: 10%;
	width: 100%;
	height: 60%;
	background: var(--gray_40);
}

div.side_menu_wrap{
    width: 45%;
    height: 90%;
    background: var(--gray_60);
}

div.menu_title{
    width: 100%;
    height: 20%;
    background: var(--gray_80);
}

div.text_wrap{
    width: 100%;
    height: 65%;
    background: var(--gray_80);
    margin-top: 40px;
}

/* service_2 */
div.service_2_bottom{
	width: 100%;
	height: 50%;
	background: green;
	padding: 20px 0;
}

/*  menu bar  */
div.picture_btn{
    width: 48%;
    min-width: 460px;
    height: 8%;
    background: yellow;
    margin: 0 auto;
    text-align: center;
}

div.picture_btn > div{
   display: inline-block;
   background: red;
   width: 19%;
   height: 100%;
}

/* image */
div.image_wrap{
    width: 70%;
    min-width: 1048px;
    height: 92%;
    background: blue;
    text-align: center;
    margin: 0 auto;
    padding: 10px; 
}

div.image_wrap > div{
   display: inline-block;
   background: yellow;
   width: 23%;
   height: 100%;
}

div.image_wrap > div:not(:last-child){
	margin-right: 22px;
}

div.image_card > div {
   width: 98%;
   height: 50%;
   margin: 0 auto;
   background: green;
}

div.image_card > div:NTH-CHILD(ODD){
   background: red;
}

/* inner images detailed */
div.inner_wrap > div:FIRST-CHILD{
   background: orange;
   width:  97%;
   height: 60%;
   margin: 0 auto;
}

div.inner_wrap > div:LAST-CHILD{
   background: pink;
   width:  97%;
   height: 40%;
   margin: 0 auto;
}

/*  about us*/
div.about_us_bottom{
	width: 100%;
	background: blue;
	height: 65%;
	padding-top: 70px;
}

div.about_us_bottom > div {
    width: 70%;
    background: pink;
    height: 100%;
    margin: 0 auto;
}

/* rank */
div.rank{
	width: 100%;
	height: 500px;
	background: black;
	padding-top: 90px;
}

div.rank_wrap{
	width: 70%;
	height: 70%;
	background: lightblue;
	margin: 0 auto;
	text-align: center;
}

div.rank_card{
	width: 24%;
	height: 80%;
	background: pink;
	display: inline-block;
	margin-right: 8px;
	margin-top: 26px;
}

div.rank_card div{
    width: 100%; 
    background: red;
}

div.rank_card div:NTH-CHILD(1){
    height: 30%; 
    background: red;
}

div.rank_card div:NTH-CHILD(2){
    height: 40%; 
    background: red;
    margin: 20px 0;
}

div.rank_card div:NTH-CHILD(3){
    height: 18%; 
    background: red;
}

/* quotes */
div.quotes_wrap{
	width: 100%;
	height: 500px;
	background: aqua;
	padding-top: 100px;
}

div.content_wrap{
	width: 70%;
	height: 70%;
	background: yellow;
	margin: 0 auto;
}

div.content_wrap > div:first-child{
	width: 98%;
	height: 80%;
	background: red;
	margin: 0 auto;
}

div.content_wrap > div:last-child{
	width: 98%;
	height: 20%;
	background: blue;
	margin: 0 auto;
}

/* search bar */
div.search_wrap{
	width: 100%;
	height: 300px;
	background: maroon;
	padding-top: 120px;
}

div.search_content_wrap{
	width: 70%;
	height: 80px;
	background: aqua;
	margin: 0 auto;
	text-align: center;
}

div.search_content_wrap div{
	display: inline-block;
	background: green;
	height: 100%;
}

div.bar_wrap{
	width: 60%;
}

div.bar_wrap > div:first-child{
	width: 78%;
	height:100%;
	background: white;
	display: inline-block;
}

div.bar_wrap > div:last-child{
	width: 19%;
	height:100%;
	background: blue;
	display: inline-block;
}

div.search_text{
	width: 38%;
}

/* footer */
div.footer_wrap{
	width: 100%;
	height: 500px;
	background: aqua;
	padding-top:100px;
}

div.footer_content_wrap {
	width: 15%;
	height: 75%;
	background: red;
	margin: 0 auto;
	padding: 0 5px;
}

div.footer_content_wrap > div {
	width: 100%;
	height: 24%;
	background: yellow;
	margin-bottom: 3px;
}
div.social_wrap{
	text-align: center;
}

div.social_wrap > div{
	width: 23%;
	height: 100%;
	display: inline-block;
	background: green;
}

div.made_by_wrap {
	text-align: center;
}

div.made_by_wrap > div{
	height: 100%;
	background: green;
	display: inline-block;
}

div.made_by_wrap > div:first-child{
	width: 37%;
}

div.made_by_wrap > div:last-child{
	width: 60%;
}
